@media screen and (max-width:768px) {
    .header {
        flex-direction: column;
    }

    .header-logo{
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .ativar{
        display: block;
    }

    .menu-lista{
        flex-direction: row;
    }
    
    .gameboy{
        grid-template-columns: 1fr;
    }

    .menu-link{
        font-size: 20px;       
    }


    .menu-link:hover {
        background-color: white;
        color: black;
    }

    .carrossel{
        width: 100%;
        height: 50vh;
        position: relative;
    }

    .carrossel2{
        width: auto;
        height: 400px;
        margin: 0 auto;
        position: relative;
    }

    .link-carrossel{
        top: 90%;
        font-size: 2rem;
        text-align: center;
        width: auto;
        height: auto;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .swiper {
        width: 70%;
        height: 100%;
    }

    .sw{
        width: 250px;
        height: 100%;
        margin: 0 auto;
    }

    .titulo-carrossel{
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 70%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        background-color: #b4b4b454;
        padding: 10px 15px;
        border-radius: 20px;
        height: auto;
    }
}
